<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/masterLayout}">
<head>
    <title>Product List</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="container">
        <div class="row">
            <div th:insert="fragment/sidebar :: sidebar">

            </div>


            <!-- table with search bar-->
            <div class="col-md-9">
<!--                <div class="container">-->
                    <div class="row">
                        <div class="row">
<!--                            search bar  -->
                            <div class="col-md-6">
                                <form class="input-group" th:action="@{/searchProduct}" method="get">
                                    <input name="searchParameter" type="search" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>Search
                                    </input>
                                </form>
                            </div>
<!--                             add new product -->
                            <div class="col-md-6">
                                    <a th:if="${!user.status}" th:text="${'Approval under going to add product'}"></a>
                                    <a th:href="@{/product/create}" class="pull-right" th:if="${user.status}"><h3>Add Product</h3></a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="alert alert-info" th:if="${message}" th:utext="${message}"></div>
                            <!-- <div class="page-title pull-left" th:if="${#authentication.getName() != null}" th:text="My Posts List"></div>-->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Category</th>
                                    <!--			<th>Content</th>-->
                                    <th>Description</th>
                                    <th>Seller</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Cover Image</th>
                                    <th class="text-center"
                                        sec:authorize="hasAuthority('ROLE_SELLER')">Action
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="p,i : ${pager.pagerObjects}">
                                        <!---->
                                        <td th:text="${i.count}"></td>
                                        <td th:text="${p.name}"></td>
                                        <td th:text="${p.code}"></td>
                                        <td th:text="${p.category != null ? p.category.categoryName : 'General'}"></td>
                                        <td th:text="${p.description}"></td>
                                        <td th:text="${p.user.firstName+' '+p.user.lastName}"></td>
                                        <td th:text="${p.price}"></td>
                                        <td th:text="${p.quantity}"></td>
                                        <td th:text="${p.coverImage}"></td>
                                        <td class="text-center" sec:authorize="hasAuthority('ROLE_SELLER')">
                                            <!--								<a th:href="@{'/edit/' + ${p.id}}"><span class="fa fa-edit"></span><</a>-->
                                            <a href="#" th:href="@{/product/edit/{id}/(id=${p.id})}"><span
                                                    class="fa fa-edit"></span></a>

                                            <a data-toggle="modal" data-target="#modal-warning"
                                               th:attr="data-target='#modal-warning'+${p.id }">
                                                <span class="glyphicon glyphicon-trash"></span></a>
                                            <!---->
                                            <div class="modal modal-warning fade in"
                                                 th:id="modal-warning+${p.id }">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <h5 class="modal-title">Delete Product</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3>Are you sure want to delete this Product?</h3>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-outline pull-left btn-warning"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <a type="button" class="btn btn-outline"
                                                               th:href="@{/product/delete/{id}(id=${p.id})}"><i
                                                                    class="fa fa-check"></i>&nbsp;Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <!--                     <div class="row form-row "> &ndash;&gt;-->
                            <div class="form-group col-lg-8col-lg-12">
                                <div th:replace="/fragment/pagination :: pagination(URLparameter='/productList')"></div>
                            </div>
                        </div>
                    </div>
<!--                </div>-->

            </div>
        </div>
    </div>

</th:block>
</body>
</html>