<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/masterLayout}">
<head>
    <title>Product List</title>
</head>
<body>
<th:block layout:fragment="content">


    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6" th:each="product : ${pager.pagerObjects}">
                    <div class="single-product" >
                        <div class="product-f-image">
                            <!--                                <img src="img/product-1.jpg" alt="">-->
                            <img class="img-responsive" th:src="@{${'/uploads/images/'+product.coverImage}}" alt="">
                            <div class="product-hover">
                                <div sec:authorize="hasRole('ROLE_BUYER')">
                                    <a class="add-to-cart-link" href="#"
                                       th:href="@{/addToCart/{pid}(pid =${product.id})}"><i
                                            class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>

                                <a href="../single-product.html" th:href= "@{'/productDetails/' + ${product.id}}"  class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2><a href="../single-product.html" th:text="${product.name}"></a></h2>

                        <div class="product-carousel-price">
                            <ins th:text="'$'+${product.price}"></ins> <del>$100.00</del>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <!--                     <div class="row form-row "> &ndash;&gt;-->
                <div class="form-group col-lg-8col-lg-12">
                    <div th:replace="/fragment/pagination :: pagination(URLparameter='/shop')"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>