<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/masterLayout}">
<head>
    <title>Product List</title>
</head>
<body>
<th:block layout:fragment="content">


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="">Category Name</a>
                            <a href="">Sony Smart TV - 2015</a>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img th:src="@{${'/uploads/images/'+product.coverImage}}" alt="">
                                    </div>

                                    <div class="product-gallery">
                                        <img th:src="@{${'/uploads/images/'+product.coverImage}}" alt="">
                                        <img th:src="@{${'/uploads/images/'+product.coverImage}}" alt="">
                                        <img th:src="@{${'/uploads/images/'+product.coverImage}}" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name" th:text="${product.name}">Sony Smart TV sdf- 2015</h2>
                                    <div class="product-inner-price">
                                        <ins th:text="${'$'+ product.price }">$700.00</ins>
                                        <br>
                                        <label th:text="${'Available :'+ product.quantity}"></label>
                                    </div>

                                    <form action="" class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" name="quantity" min="1" th:max="${product.quantity}" max=""
                                                   step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                                                      role="tab" data-toggle="tab">Description</a>
                                            </li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile"
                                                                       role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                <p th:text="${product.description}">Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit. Nam tristique, diam in consequat
                                                    iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula
                                                    at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut.
                                                    Suspendisse potenti. Nulla varius lectus id turpis dignissim porta.
                                                    Quisque magna arcu, blandit quis felis vehicula, feugiat gravida
                                                    diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac
                                                    sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In
                                                    varius lorem lorem, semper bibendum lectus lobortis ac.</p>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <form th:action="@{/review/create}" th:object="${review}"
                                                          method="post">
                                                        <div class="form-group">
                                                            <div th:class="${successMessage} ? 'alert alert-success' : ''"
                                                                 th:text="${successMessage}"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div th:class="${errorMessage} ? 'alert alert-error' : ''"
                                                                 th:text="${errorMessage}"></div>
                                                        </div>
                                                        <input type="hidden" th:field="${review.product.id}">
                                                        <p><label for="review">Your review</label>
                                                            <textarea th:field="*{reviewMessage}" id="" cols="30"
                                                                      rows="10"></textarea>
                                                        <div th:if="${#fields.hasErrors('reviewMessage')}"
                                                             th:errors="*{reviewMessage}" class="invalid-feedback">

                                                        </div>
                                                        </p>
                                                        <p><input type="submit" value="Submit"></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="page-header">
                                        <h1><small th:text="${#lists.size(reviews) + ' Reviews'}" class="pull-right">45
                                            comments</small> Reviews </h1>
                                    </div>
                                    <div class="comments-list" th:unless="${#lists.isEmpty(reviews)}">
                                        <div th:each="r : ${reviews}">
                                            <div class="media" th:if="${r.approve == true}">
                                                <p class="pull-right"><small th:text="${r.reviewDate}">5 days
                                                    ago</small>
                                                </p>
                                                <a class="media-left" href="#">
                                                    <img src="http://lorempixel.com/40/40/people/1/">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name" th:text="${r.user.firstName}">
                                                        Baltej
                                                        Singh</h4>
                                                    <p th:text="${r.reviewMessage}">Wow! this is really great.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>