<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="products">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel" >
                        <div class="single-product" th:each="product : ${pager.pagerObjects}">
                            <div class="product-f-image">
<!--                                <img src="img/product-1.jpg" alt="">-->
                                <img class="img-responsive" th:src="@{${'/uploads/images/'+product.coverImage}}" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="../single-product.html" th:href= "@{'/productDetails/' + ${product.id}}"  class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="../single-product.html" th:text="${product.name}"></a></h2>

                            <div class="product-carousel-price">
                                <ins th:text="'$'+${product.price}"></ins> <del>$100.00</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>